{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

    <div class="container-fluid" id="profil">
	    <h1 "text-align:center">À propos de moi</h1>
        <section>
            Bonjour, Je m’appelle Yanis El Kajjoui, je suis âgé de 20 ans. 
            Je suis actuellement étudiant à Montpellier au seins d'Esicad, en deuxième année de BTS « SIO spécialité SLAM » 
            Services Informatiques aux Organisations spécialité en Solutions Logicielles et Applications Métier en alternance.
            J’ai toujours été attiré par l’informatique et les nouvelles technologies. 
            Pour en arriver la je suis passé par un Bac STI2D 
            en effectuant mes trois années d’études en BAC technologique,
            et mes deux années d’études en BTS Services Informatiques aux Organisations Services Informatiques aux Organisations spécialité en Solutions Logicielles et Applications Métier.
        </section>
    </div>
        
{% endblock %}
