{% extends 'base.html.twig' %}

{% block title %}Hello VeilleTechnoController!{% endblock %}

{% block body %}
<div class="container" style="background-color: #fefdd6; padding:10px;margin-top:20px;">

<p style='text-align: center'> En pleine réflxion...</p>
<img src='https://c.tenor.com/6cJ4lvVVlxgAAAAC/idk-sassy.gif'id='vt' />
</div>
{% endblock %}
