{% extends 'base.html.twig' %}

{% block title %}Bloc de compétences
{% endblock %}
{% block javascripts %}
	{{encore_entry_script_tags('app')}}
{% endblock %}
{% block main %}
	<div>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="display-4 titre_section">Portefeuille de Compétences</h2>
				</div>
				<div class="col-12">
					<div class="card card_portefeuillecompet">
						<div class="card-body">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-center">
								<embed src="../" width="100%" height="1500px"/>
							</div>
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

